datasets
torch
tqdm
transformers
accelerate
peft
tyro
numpy
typing
pandas

tensorboard
trl 
torch --extra-index-url https://download.pytorch.org/whl/cu118
torchvision --extra-index-url https://download.pytorch.org/whl/cu118
torchaudio --extra-index-url https://download.pytorch.org/whl/cu118
peft
